.Button_contianer {
  position: relative;
}
.slide_change_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.slide_change_btn .change_btn {
  color: #222;
  border: 2px solid #222;
  padding: 10px;
  width: max-content;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.slide_change_btn .change_btn:hover {
  background-color: var(--primaryColor);
  transition: 0.3s;
}
